<!DOCTYPE html>
<html>
  <head>
    <title>CODESA</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <base href="/app/">
  </head>

  <body class="app" ng-app="codesa">
    <%- body %>


    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/ng-stuff/module.js"></script>
    <script src="/js/ng-stuff/distvend.js"></script>
    <script src="/js/ng-stuff/libros.js"></script>
    <script src="/js/ng-stuff/notify.js"></script>
    <script src="/js/ng-stuff/proveedor.js"></script>
    <script src="/js/ng-stuff/services.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
