/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.
@small-dsk-n-up:     ~"(min-width: 768px)";
@mobile:             ~"(max-width: 768px)";


body {
	background: rgb(234, 113, 96);
	&.app{
		padding-top: 70px;
		background:  rgb(231, 224, 214);
	}
	.jumbotron{
		background: rgba(231, 224, 214,0.7);
		margin-top: 50px;
	}
}
.on-corner-form{
	position: fixed;
	background: #fff;
    padding: 20px 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
	bottom: auto;
	top: 70px;
	left: auto;
	right: auto;
	@media @small-dsk-n-up{
		top: auto;
		bottom: 15px;
    	right: 15px;
	}
}
.fixed-on-xs{
	position: fixed;
	z-index: 3;
	@media @small-dsk-n-up{
		position: relative;
		z-index: 0;
	}
}
.pt-60-on-xs{
	padding-top: 60px;
	@media @small-dsk-n-up{
		padding-top: 0px;
	}
}
.label{
	&.on-table-label{
		font-size: 100%;
		margin: 0px 5px;
		&:first-child{
			margin-left: 0px;
		}
		&:last-child{
			margin-right: 0px;
		}
	}
}
table.resp-table{
	@media @mobile{
      	border: 0;

		thead {
			display: none;
		}

		tr {
			border-top: 2px solid #222;
			margin-bottom: 10px;
			display: block;
		}

		td {
			display: block;
			text-align: right;
			font-size: 13px;
			// border-bottom: 1px dotted #ccc; 
			&:last-child{
				border-bottom: 0;
			}
			&:before{
				content: attr(data-label);
				float: left;
				text-transform: uppercase;
				font-weight: bold;
			}
		}

	}
}
.hidder{
	position: fixed;
	z-index: 2;
	height: 120px;
	top: 0;
	background: rgba(231,224,214,1);
	background: -moz-linear-gradient(top, rgba(231,224,214,1) 0%, rgba(231,224,214,1) 82%, rgba(231,224,214,0.37) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,224,214,1)), color-stop(82%, rgba(231,224,214,1)), color-stop(100%, rgba(231,224,214,0.37)));
	background: -webkit-linear-gradient(top, rgba(231,224,214,1) 0%, rgba(231,224,214,1) 82%, rgba(231,224,214,0.37) 100%);
	background: -o-linear-gradient(top, rgba(231,224,214,1) 0%, rgba(231,224,214,1) 82%, rgba(231,224,214,0.37) 100%);
	background: -ms-linear-gradient(top, rgba(231,224,214,1) 0%, rgba(231,224,214,1) 82%, rgba(231,224,214,0.37) 100%);
	background: linear-gradient(to bottom, rgba(231,224,214,1) 0%, rgba(231,224,214,1) 82%, rgba(231,224,214,0.37) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e0d6', endColorstr='#e7e0d6', GradientType=0 );
}