<div class="row" ng-init="DistribStuff()">
	<div class="col-xs-12 visible-xs hidder" ng-hide="addingDistrib || editingDistrib"></div>
	<div class="col-xs-12 fixed-on-xs">
		<div class="row">
			<div class="col-sm-4 col-xs-8">
				<form>
					<div class="form-group">
						<label for="filterDistribuidor" class="sr-only">Filtro</label>
						<input ng-model="filter.distribuidor" ng-if="!(addingDistrib || editingDistrib)" class="form-control" type="text" name="filterDistribuidor"
						id="filterDistribuidor" placeholder="Filtrar por aqui">
					</div>
				</form>
			</div>
			<div class="col-sm-6 col-sm-offset-2 col-xs-4 text-right">
				<button class="btn btn-primary" ng-click="setNewDistribuidor()" ng-if="!(addingDistrib || editingDistrib)">Nuevo <span class="glyphicon glyphicon-plus"></span></button>
				<button class="btn btn-danger hidden-xs" ng-if="addingDistrib || editingDistrib" ng-click="cancelDistribuidor()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
	</div>
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-3 col-md-6 col-md-offset-4 on-corner-form" ng-show="addingDistrib"><!-- template for new Distribuidor-->
		<form ng-submit="createDistribuidor()">
			<legend>Nuevo Distribuidor</legend>
			<div class="col-sm-6">
				<div class="row sm-to-up-mar-right-0">
					<div class="form-group">
						<label for="codigoDistribuidor">C&oacute;digo de Distribuidor</label>
						<input ng-model="newDistribuidor.id_distribuidor" class="form-control" type="text" name="codigoDistribuidor" id="codigoDistribuidor"
						placeholder="C&oacute;digo" ng-required="true">
					</div>
					<div class="form-group">
						<label for="nombreDistribuidor">Nombre Distribuidor</label>
						<input ng-model="newDistribuidor.nombre" class="form-control" type="text" name="nombreDistribuidor" id="nombreDistribuidor"
						placeholder="Nombre" ng-required="true">
					</div>
					<div class="form-group">
						<label for="telefonoDistribuidor">Tel&eacute;fonos</label>
						<div class="input-group">
							<input data-triger-on-focus="next->children:button" ng-model="newDistribuidor.tmp.phone" class="form-control" type="text" name="telefonoDistribuidor" id="telefonoDistribuidor"
							placeholder="Tel&eacute;fono">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default w-glyphs w-g-first-on-bot-right" ng-click="addTel(newDistribuidor)"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-earphone"></span></button>
							</div>
						</div>
						<span class="label-telephone label label-primary normal-font-size" ng-repeat="tel in newDistribuidor.telefono"><span class="badge"><span class="glyphicon glyphicon-earphone"></span></span>
						<strong>{{tel}}</strong> <span class="badge pointer" ng-click="removeTel(tel, newDistribuidor)"><span class="glyphicon glyphicon-remove"></span></span>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row sm-to-up-mar-left-0">
					<div class="form-group">
						<label for="emailDistribuidor">Emails</label>
						<div class="input-group">
							<input data-triger-on-focus="next->children:button" ng-model="newDistribuidor.tmp.mail" class="form-control" type="email" name="emailDistribuidor" id="emailDistribuidor"
							placeholder="Correo Electr&oacute;nico">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default w-glyphs w-g-first-on-bot-right" ng-click="addEmail(newDistribuidor)"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-envelope"></span></button>
							</div>
						</div>
						<span class="label-email label label-primary normal-font-size" ng-repeat="email in newDistribuidor.email"> <span class="badge"><span class="glyphicon glyphicon-envelope"></span></span>
						<strong>{{email}}</strong> <span class="badge pointer" ng-click="removeEmail(email, newDistribuidor)"><span class="glyphicon glyphicon-remove"></span></span>
						</span>
					</div>
					<div class="form-group">
						<label for="direccionDistribuidor">Direcciones</label>
						<div class="input-group">
							<input data-triger-on-focus="next->children:button" ng-model="newDistribuidor.tmp.direc" class="form-control" type="text" name="direccionDistribuidor" id="direccionDistribuidor"
							placeholder="Direcci&oacute;n">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default w-glyphs w-g-first-on-bot-right" ng-click="addDirec(newDistribuidor)"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-map-marker"></span></button>
							</div>
						</div>
						<span class="label-email label label-primary normal-font-size" ng-repeat="direccion in newDistribuidor.direccion"> <span class="badge"><span class="glyphicon glyphicon-map-marker"></span></span>
						<strong>{{direccion}}</strong> <span class="badge pointer" ng-click="removeDirec(direccion, newDistribuidor)"><span class="glyphicon glyphicon-remove"></span></span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="form-group text-center">
						<button type="submit" class="btn btn-default">Crear Nuevo</button>
						<button class="btn btn-danger visible-xs-inline" ng-if="addingDistrib || editingDistrib" ng-click="cancelDistribuidor()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
			</div>
		</form>
	</div><!--template for new Distribuidor-->
	
	
	
	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-md-8 on-corner-form" ng-show="editingDistrib"> <!-- template for edit Distribuidor-->
		<form ng-submit="updateDistribuidor()">
			<legend>Editar Distribuidor</legend>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<label for="editCodigoDistribuidor">C&oacute;digo de Distribuidor</label>
							<input ng-model="editDistribuidor.nid_distribuidor" class="form-control" type="text" name="editCodigoDistribuidor" id="editCodigoDistribuidor"
							placeholder="C&oacute;digo ({{editDistribuidor.id_distribuidor}})" ng-required="true">
						</div>
					</div>
					<div class="col-sm-9">
						<div class="form-group">
							<label for="editNombreDistribuidor">Nombre Distribuidor</label>
							<input ng-model="editDistribuidor.nnombre" class="form-control" type="text" name="editNombreDistribuidor" id="editNombreDistribuidor"
							placeholder="Nombre ({{editDistribuidor.nombre}})" ng-required="true">
						</div>
					</div>
				</div>	
			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label for="editTelefonoDistribuidor">Tel&eacute;fonos</label>
							<div class="input-group">
								<input data-triger-on-focus="next->children:button" ng-model="editDistribuidor.tmp.phone" class="form-control" type="text" name="editTelefonoDistribuidor" id="editTelefonoDistribuidor" placeholder="Añadir Tel&eacute;fono">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default w-glyphs w-g-first-on-bot-right" ng-click="addTel(editDistribuidor)"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-earphone"></span></button>
								</div>
							</div>
							<div class="input-group" ng-repeat="telefono in editDistribuidor.telefono">
								<input type="text" class="form-control" ng-model="telefono" ng-required="true">
								<div class="input-group-btn">
									<button type="button" class="btn btn-danger w-glyphs w-g-first-on-bot-right" title="Borrar {{telefono}}" ng-click="removeTel(telefono, editDistribuidor)"><span class="glyphicon glyphicon-remove"></span> <span class="glyphicon glyphicon-earphone"></span></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<label for="editEmailDistribuidor">Tel&eacute;fonos</label>
						<div class="input-group">
							<input data-triger-on-focus="next->children:button" ng-model="editDistribuidor.tmp.mail" class="form-control" type="email" name="editEmailDistribuidor" id="editEmailDistribuidor" placeholder="Añadir Email">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default w-glyphs w-g-first-on-bot-right" ng-click="addEmail(editDistribuidor)"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-envelope"></span></button>
							</div>
						</div>
						<div class="input-group" ng-repeat="email in editDistribuidor.email">
							<input type="email" class="form-control" ng-model="email" ng-required="true">
							<div class="input-group-btn">
								<button type="button" class="btn btn-danger w-glyphs w-g-first-on-bot-right" title="Borrar {{email}}" ng-click="removeEmail(email, editDistribuidor)"><span class="glyphicon glyphicon-remove"></span> <span class="glyphicon glyphicon-envelope"></span></button>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							
							<label for="editDireccionDistribuidor">Direcciones</label>
							<div class="input-group">
								<input data-triger-on-focus="next->children:button" ng-model="editDistribuidor.tmp.direc" class="form-control" type="text" name="editDireccionDistribuidor" id="editDireccionDistribuidor" placeholder="Añadir Direcci&oacute;n">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default w-glyphs w-g-first-on-bot-right" ng-click="addDirec(editDistribuidor)"><span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-map-marker"></span></button>
								</div>
							</div>
							<div class="input-group" ng-repeat="direccion in editDistribuidor.direccion">
								<input type="text" class="form-control" ng-model="direccion" ng-required="true">
								<div class="input-group-btn">
									<button type="button" class="btn btn-danger w-glyphs w-g-first-on-bot-right" title="Borrar {{direccion}}" ng-click="removeDirec(direccion, editDistribuidor)"><span class="glyphicon glyphicon-remove"></span> <span class="glyphicon glyphicon-map-marker"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="form-group text-center">
						<button type="submit" class="btn btn-default">Editar</button>
						<button class="btn btn-danger visible-xs-inline" ng-if="addingDistrib || editingDistrib" ng-click="cancelDistribuidor()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
			</div>
		</form>
	</div>  <!-- template for edit Distribuidor-->
	<div class="col-xs-12 pt-60-on-xs" ng-hide="addingDistrib || editingDistrib">
		<p class="lead text-warning text-center" ng-if="!distribuidores.length">No hay Distribuidores en Base de Datos</p>
		<table class="table resp-table" ng-if="distribuidores.length">
			<thead>
				<th>C&oacute;digo</th>
				<th>Nombre</th>
				<th>Tel&eacute;fono</th>
				<th>Email</th>
				<th>Direcci&oacute;n</th>
				<th>Fecha Registro</th>
				<th>Vendedores</th>
				<th>Editar/Borrar</th>
			</thead>
			<tbody>
				<tr ng-repeat="distribuidor in distribuidores | filter:filter.distribuidor">
					<td data-label="C&oacute;digo">{{distribuidor.id_distribuidor}}</td>
					<td data-label="nombre">{{distribuidor.nombre}}</td>
					<td data-label="Tel&eacute;fono">
						<span class="distrib-tel" ng-repeat-start="telefono in distribuidor.telefono">{{telefono}}</span>
						<span class="data-spacer" ng-repeat-end ng-if="!$last"> - </span>
						<span class="blankspace" ng-if="!distribuidor.telefono.length">&nbsp;</span>
					</td>
					<td data-label="Email">
						<span class="distrib-email" ng-repeat-start="email in distribuidor.email">{{email}}</span>
						<span class="data-spacer" ng-repeat-end ng-if="!$last"> - </span>
						<span class="blankspace" ng-if="!distribuidor.email.length">&nbsp;</span>
					</td>
					<td data-label="Direcci&oacute;n">
						<span class="distrib-direc" ng-repeat-start="direccion in distribuidor.direccion">{{direccion}}</span>
						<span class="data-spacer" ng-repeat-end ng-if="!$last"> - </span>
						<span class="blankspace" ng-if="!distribuidor.direccion.length">&nbsp;</span>
					</td>

					<td data-label="Fecha Registro">{{distribuidor.createdAt | date:'dd/MM/yy hh:mm:ss a'}}</td>
					<td data-label="Vendedores">
						<button class="btn btn-default" title="{{distribuidor.vendedores.length}}"><span class="glyphicon glyphicon-search"></span> Ver</button>
					</td>
					<td data-label="Editar/Borrar">
						<button class="btn btn-warning" ng-click="setEditDistribuidor(distribuidor)"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-danger" ng-click="deleteDistribuidor(distribuidor)"><span class="glyphicon glyphicon-remove"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>