<div class="row" ng-init="gruposStuff()">
	<div class="col-xs-12 visible-xs hidder" ng-hide="addingGrupo || editingGrupo"></div>
	<div class="col-xs-12 fixed-on-xs">
		<div class="row">
			<div class="col-sm-4 col-xs-8">
				<form>
					<div class="form-group">
						<label for="filterTipos" class="sr-only">Filtro</label>
						<input ng-model="filter.tipos"  ng-if="!(addingGrupo || editingGrupo)" class="form-control" type="text" name="filterTipos" id="filterTipos" placeholder="Filtrar por aqui">
					</div>
				</form>
			</div>
			<div class="col-sm-6 col-sm-offset-2 col-xs-4 text-right">
				<button class="btn btn-primary" ng-click="setNewGrupo()" ng-if="!(addingGrupo || editingGrupo)">Nuevo <span class="glyphicon glyphicon-plus"></span></button>
				<button class="btn btn-danger hidden-xs" ng-if="addingGrupo || editingGrupo" ng-click="cancelGrupos()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
	</div>
	<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 on-corner-form" ng-show="addingGrupo"> <!-- template for new Grupo -->
		<form ng-submit="createGrupo()">
			<legend>Nuevo Grupo</legend>
			<div class="form-group">
				<label for="nombreGrupo">Nombre del Grupo</label>
				<input ng-model="newGrupo.tipo" class="form-control" type="text" name="nombreGrupo" id="nombreGrupo" placeholder="Nombre" ng-required="true">
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-default">Crear Nuevo</button>
				<button class="btn btn-danger visible-xs-inline" ng-if="addingGrupo || editingGrupo" ng-click="cancelGrupos()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</form>
	</div>  <!--template for new Grupo -->
	<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 on-corner-form" ng-show="editingGrupo"> <!-- template for Edit Grupo -->
		<form ng-submit="updateGrupo()">
			<legend>Editar Grupo</legend>
			<div class="form-group">
				<label for="editTipoGrupo">Nombre del Grupo</label>
				<input ng-model="editGrupo.ntipo" class="form-control" type="text" name="editTipoGrupo" id="editTipoGrupo" placeholder="Nombre ({{editGrupo.tipo}})" ng-required="true">
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-default">Editar</button>
				<button class="btn btn-danger visible-xs-inline" ng-if="addingGrupo || editingGrupo" ng-click="cancelGrupos()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</form>
	</div>  <!--template for Edit Grupo -->
	<div class="col-xs-12 pt-60-on-xs" ng-hide="addingGrupo || editingGrupo">
		<p class="lead text-warning text-center" ng-if="!tipos.length">No hay Grupos en Base de Datos</p>
		<table class="table resp-table" ng-if="tipos.length">
			<thead>
				<th>Tipo</th>
				<th>Fecha Registro</th>
				<th>Editar/Borrar</th>
			</thead>
			<tbody>
				<tr ng-repeat="tipo in tipos | filter:filter.tipos">
					<td data-label="Tipo">{{tipo.tipo}}</td>
					<td data-label="Fecha Registro">{{tipo.createdAt | date:'dd/MM/yy hh:mm:ss a'}}</td>
					<td data-label="Editar/Borrar">
						<button class="btn btn-warning" ng-click="setEditGrupo(tipo)"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-danger" ng-click="deleteGrupo(tipo)"><span class="glyphicon glyphicon-remove"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>