<div class="row">
    <loading-animation ng-show="onRequest"></loading-animation>
    <div class="col-xs-12">
        <h3>Nuevo Movimiento</h3>
        <hr>
        <form class="form-horizontal" ng-submit="addMovimiento();">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <fieldset>
                        <legend>Datos Generales</legend>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group no-gutter">
                                    <label for="inputTipoMovimiento">Tipo de Movimiento</label>
                                    <select autofocus ng-model="movimiento.tipo" ng-options="tipo as tipo.nombre for tipo in tiposmovimientos track by tipo.id" name="tipoMovimiento" id="inputTipoMovimiento" class="form-control" required="required" ng-change="tipoMovChange();">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group no-gutter">
                                    <label for="inputFechaMovimiento">Fecha</label>
                                    <input type="date" ng-model="fecha" name="FechaMovimiento" id="inputFechaMovimiento" class="form-control" required="required" readonly tabindex="-1">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group no-gutter">
                                    <label for="inputCiclo">Ciclo</label>
                                    <input type="text" ng-model="ciclo.id_ciclo" name="Ciclo" id="inputCiclo" class="form-control" required="required" readonly tabindex="-1">
                                </div>
                                <div class="form-group no-gutter">
                                    <label for="inputObservaciones">Observaciones</label>
                                    <textarea name="observaciones" id="inputObservaciones" class="form-control" rows="3" ng-model="movimiento.observaciones"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <fieldset ng-if="movimiento.tipo && (movimiento.tipo.id === 1 || movimiento.tipo.id === 2 || movimiento.tipo.id === 3)">
                        <legend>Datos de Distribuidor</legend>
                        <div class="form-group no-gutter">
                            <label for="inputDistribuidor">Distribuidor</label>
                            <select ng-model="movimiento.distribuidor" ng-options="dist as dist.nombre for dist in distribuidores track by dist.id_distribuidor" name="Distribuidor" id="inputDistribuidor" class="form-control" required="required" >
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group no-gutter">
                            <label for="inputVendedor">Vendedor</label>
                            <select ng-model="movimiento.vendedor" ng-options="vend as vend.nombre for vend in movimiento.distribuidor.vendedores track by vend.id_vendedor" name="Vendedor" id="inputVendedor" class="form-control" required="required" >
                                <option></option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset ng-if="movimiento.tipo && (movimiento.tipo.id === 4 || movimiento.tipo.id === 5)">
                        <legend>Datos de Proveedor</legend>
                        <div class="form-group no-gutter">
                            <label for="inputProveedor">Proveedor</label>
                            <select ng-model="movimiento.proveedor" ng-options="prov as prov.nombre for prov in proveedores track by prov.id" name="Distribuidor" id="inputProveedor" class="form-control" required="required" >
                                <option></option>
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <legend>Detalle Movimiento</legend>
                    <table class="table table-condensed table-hover table-bordered resp-table">
                        <thead>
                            <th>Código</th>
                            <th>Grupo</th>
                            <th>Título</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dtl in movimiento.detalle">
                                <td data-label="Código">{{dtl.libro.codigo.codigo}}</td>
                                <td data-label="Grupo">{{dtl.libro.grupo.tipo}}</td>
                                <td data-label="Título">{{dtl.libro.codigo.nombre}}</td>
                                <td data-label="Cantidad">{{dtl.cantidad}}</td>
                                <td data-label="Acciones">
                                    <button type="button" class="btn btn-warning" ng-click="startDetalleEdit(dtl);"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button type="button" class="btn btn-danger" ng-click="removeDetalle(dtl);"><span class="glyphicon glyphicon-remove"></span></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="hidden-xs text-right"><strong>Agregar</strong></td>
                                <td data-label="Agregar">
                                    <button type="button" class="btn btn-primary" ng-click="startDetalleAdd();">
                                        <strong><span class="glyphicon glyphicon-plus"></span></strong>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary" ng-disabled="disableMainForm();">Registrar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 on-corner-form always-fixed" ng-show="addingDetalle"> <!-- template for add detalle to movimiento-->
		<form ng-submit="addDetalle()">
			<legend>Añadir Libro a Detalle</legend>
			<div class="form-group">
				<label for="dtLibro">Libro</label>
                <select name="libro" id="dtLibro" ng-model="detalle.libro" ng-options="libro as ('(' + libro.codigo.codigo + ' - ' + libro.grupo.tipo + ')  ' + libro.codigo.nombre) for libro in libros track by libro.id" class="form-control" required="required">
                    <option></option>
                </select>
			</div>
			<div class="form-group">
				<label for="dtCantidad">Cantidad</label>
                <input type="number" id="dtCantidad" ng-model="detalle.cantidad" class="form-control" required="required" min="1" step="1">
			</div>
            <div class="checkbox text-right">
                <label for="addAnother">
                    Agregar otro libro &nbsp; 
                </label>
                <input type="checkbox" id="addAnother" class="checkbox style-2 pull-right" ng-model="addAnother"/>
            </div>
			<div class="form-group text-right">
				<button type="submit" class="btn btn-default">Añadir</button>
				<button type="button" class="btn btn-danger" ng-click="cancelDetalleAdd();">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</form>
	</div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 on-corner-form always-fixed" ng-show="editingDetalle"> <!-- template for edit detalle to movimiento-->
		<form ng-submit="updateDetalle()">
			<legend>Editar Libro en Detalle</legend>
			<div class="form-group">
				<label for="eddtLibro">Libro</label>
                <select name="libro" id="eddtLibro" ng-model="detalle.libro" ng-options="libro as ('(' + libro.codigo.codigo + ' - ' + libro.grupo.tipo + ')  ' + libro.codigo.nombre) for libro in libros track by libro.id" class="form-control" required="required">
                    <option></option>
                </select>
			</div>
			<div class="form-group">
				<label for="eddtCantidad">Cantidad</label>
                <input type="number" id="eddtCantidad" ng-model="detalle.cantidad" class="form-control" required="required" min="1" step="1">
			</div>
			<div class="form-group text-right">
				<button type="submit" class="btn btn-default">Editar</button>
				<button type="button" class="btn btn-danger" ng-click="cancelDetalleEdit()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</form>
	</div>
</div>