<div class="row" ng-init="ObrasStuff()">
	<div class="col-xs-12 visible-xs hidder" ng-hide="addingObra || editingObra"></div>
	<div class="col-xs-12 fixed-on-xs">
		<div class="row">
			<div class="col-sm-4 col-xs-8">
				<form>
					<div class="form-group">
						<label for="filterObras" class="sr-only">Filtro</label>
						<input ng-model="filter.obras" ng-if="!(addingObra || editingObra)" class="form-control" type="text" name="filterObras" id="filterObras" placeholder="Filtrar por aqui">
					</div>
				</form>
			</div>
			<div class="col-sm-6 col-sm-offset-2 col-xs-4 text-right">
				<button class="btn btn-primary" ng-click="setNewObra()" ng-if="!(addingObra || editingObra)">Nuevo <span class="glyphicon glyphicon-plus"></span></button>
				<button class="btn btn-danger hidden-xs" ng-if="addingObra || editingObra" ng-click="cancelObras()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
	</div>
	<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 on-corner-form" ng-show="addingObra"> <!-- template for new Obra-->
		<form ng-submit="createObra()">
			<legend>Nueva Obra</legend>
			<div class="form-group">
				<label for="codigoObra">C&oacute;digo de Obra</label>
				<input ng-model="newObra.codigo" class="form-control" type="text" name="codigoObra" id="codigoObra" placeholder="C&oacute;digo" ng-required="true">
			</div>
			<div class="form-group">
				<label for="nombreObra">Nombre de la Obra</label>
				<input ng-model="newObra.nombre" class="form-control" type="text" name="nombreObra" id="nombreObra" placeholder="Nombre" ng-required="true">
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-default">Crear Nuevo</button>
				<button class="btn btn-danger visible-xs-inline" ng-if="addingObra || editingObra" ng-click="cancelObras()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</form>
	</div>  <!--template for new Obra-->
	<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 on-corner-form" ng-show="editingObra"> <!-- template for Edit Obra-->
		<form ng-submit="updateObra()">
			<legend>Editar Obra</legend>
			<div class="form-group">
				<label for="editCodigoObra">C&oacute;digo de Obra</label>
				<input ng-model="editObra.ncodigo" class="form-control" type="text" name="editCodigoObra" id="editCodigoObra" placeholder="C&oacute;digo ({{editObra.codigo}})" ng-required="true">
			</div>
			<div class="form-group">
				<label for="editNombreObra">Nombre de la Obra</label>
				<input ng-model="editObra.nnombre" class="form-control" type="text" name="editNombreObra" id="editNombreObra" placeholder="Nombre ({{editObra.nombre}})" ng-required="true">
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-default">Editar</button>
				<button class="btn btn-danger visible-xs-inline" ng-if="addingObra || editingObra" ng-click="cancelObras()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</form>
	</div>  <!--template for Edit Obra-->
	<div class="col-xs-12 pt-60-on-xs" ng-hide="addingObra || editingObra">
		<p class="lead text-warning text-center" ng-if="!obras.length">No hay Obras en Base de Datos</p>
		<table class="table resp-table" ng-if="obras.length">
			<thead>
				<th>C&oacute;digo</th>
				<th>Nombre</th>
				<th>Fecha Registro</th>
				<th>Grupos</th>
				<th>Editar/Borrar</th>
			</thead>
			<tbody>
				<tr ng-repeat="obra in obras | filter:filter.obras">
					<td data-label="C&oacute;digo">{{obra.codigo}}</td>
					<td data-label="Nombre">{{obra.nombre}}</td>
					<td data-label="Fecha Registro">{{obra.createdAt | date:'dd/MM/yy hh:mm:ss a'}}</td>
					<td data-label="Grupos">
                        <span ng-if="!obra.libros.length">&nbsp;</span>
						<span class="label label-success on-table-label" ng-repeat="tipo in obra.libros">{{tipo.grupo | grupoRelationer:tipos}}: {{tipo.stock}}</span>
					</td>
					<td data-label="Editar/Borrar">
						<button class="btn btn-warning" ng-click="setEditObra(obra)"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-danger" ng-click="deleteObra(obra)"><span class="glyphicon glyphicon-remove"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>