<div class="row" ng-init="ProveedorStuff()">
    <div class="col-xs-12 visible-xs hidder" ng-hide="addingProveedor || editingProveedor"></div>
	<div class="col-xs-12 fixed-on-xs">
		<div class="row">
			<div class="col-sm-4 col-xs-8">
				<form>
					<div class="form-group">
						<label for="filterProveedor" class="sr-only">Filtro</label>
						<input ng-model="filter.proveedor" ng-if="!(addingProveedor || editingProveedor)" class="form-control" type="text" name="filterProveedor" id="filterProveedor" placeholder="Filtrar por aqui">
					</div>
				</form>
			</div>
			<div class="col-sm-6 col-sm-offset-2 col-xs-4 text-right">
				<button class="btn btn-primary"  ng-click="setNewProveedor()" ng-if="!(addingProveedor || editingProveedor)">Nuevo <span class="glyphicon glyphicon-plus"></span></button>
				<button class="btn btn-danger hidden-xs" ng-if="addingProveedor || editingProveedor" ng-click="cancelProveedor()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
	</div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 on-corner-form" ng-show="addingProveedor"> <!-- template for new Proveedor-->
		<form ng-submit="createProveedor()">
			<legend>Nuevo Proveedor</legend>
			<!--<div class="form-group">
				<label for="codigoObra">C&oacute;digo de Obra</label>
				<input ng-model="newObra.codigo" class="form-control" type="text" name="codigoObra" id="codigoObra" placeholder="C&oacute;digo" ng-required="true">
			</div>-->
			<div class="form-group">
				<label for="nombreProveedor">Nombre del Proveedor</label>
				<input ng-model="newProveedor.nombre" class="form-control" type="text" name="nombreProveedor" id="nombreProveedor" placeholder="Nombre" ng-required="true">
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-default">Crear Nuevo</button>
				<button type="button" class="btn btn-danger visible-xs-inline" ng-if="addingProveedor || editingProveedor" ng-click="cancelProveedor()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</form>
	</div>  <!--template for new Proveedor-->
	<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 on-corner-form" ng-show="editingProveedor"> <!-- template for Edit Proveedor-->
		<form ng-submit="updateProveedor()">
			<legend>Editar Proveedor</legend>
			<div class="form-group">
				<label for="editCodigoProveedor">C&oacute;digo del Proveedor</label>
				<!--<input ng-model="editObra.ncodigo" class="form-control" type="text" name="editCodigoProveedor" id="editCodigoProveedor" placeholder="C&oacute;digo ({{editObra.codigo}})" ng-required="true">-->
                <p class="form-control-static">{{editProveedor.id}}</p>
			</div>
			<div class="form-group">
				<label for="editNombreProveedor">Nombre del Proveedor</label>
				<input ng-model="editProveedor.nnombre" class="form-control" type="text" name="editNombreProveedor" id="editNombreProveedor" placeholder="Nombre ({{editProveedor.nombre}})" ng-required="true">
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-default">Editar</button>
				<button type="button" class="btn btn-danger visible-xs-inline" ng-if="addingProveedor || editingProveedor" ng-click="cancelProveedor()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</form>
	</div>  <!--template for Edit Proveedor-->
    <div class="col-xs-12 pt-60-on-xs" ng-hide="addingProveedor || editingProveedor">
		<p class="lead text-warning text-center" ng-if="!proveedores.length">No hay Proveedores en Base de Datos</p>
		<table class="table resp-table" ng-if="proveedores.length">
			<thead>
				<th>C&oacute;digo</th>
				<th>Nombre</th>
				<th>Fecha Registro</th>
				<th>Editar/Borrar</th>
			</thead>
			<tbody>
				<tr ng-repeat="proveedor in proveedores | filter:filter.proveedor track by proveedor.id">
					<td data-label="C&oacute;digo">{{proveedor.id}}</td>
					<td data-label="Nombre">{{proveedor.nombre}}</td>
					<td data-label="Fecha Registro">{{proveedor.createdAt | date:'dd/MM/yy hh:mm:ss a'}}</td>
					<td data-label="Editar/Borrar">
						<button class="btn btn-warning" ng-click="setEditProveedor(proveedor)"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-danger" ng-click="deleteProveedor(proveedor)"><span class="glyphicon glyphicon-remove"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>